:root {
	/* Primary */
	--primaryOne: hsl(238, 40%, 52%); /* replyButton, sendButton, repliedUser, score*/
	--primaryTwo: hsl(358, 79%, 66%); /* deleteButton, confirmDelete */
	--primaryThree: hsl(239, 57%, 85%);
	--primaryFour: hsl(357, 100%, 86%);

	/* Neutral */
	--neutralOne: hsl(214, 14%, 30%);
	--neutralTwo: hsl(240, 1%, 85%);
	--neutralThree: hsl(228, 33%, 97%);
	--neutralFour: hsl(0, 0%, 100%);

	/*Font properties */
	--font-size: 16px;
	--font-family: 'Rubik', sans-serif;
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--font-family);
}

body {
	display: flex;
	background-color: var(--neutralThree);
	justify-content: center;
}

.container {
	width: 40vw;
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 16px;
}

.add-new-comment {
	display: grid;
	grid-template-columns: 50px auto 80px;
	grid-template-rows: 1fr;
	gap: 12px;
	margin: 0 16px 16px 16px;
	padding: 20px;
	border-radius: 8px;
	background-color: var(--neutralFour);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.new-comment {
	display: grid;
	grid-template-rows: fit-content(100%) auto;
	grid-template-columns: 64px repeat(2, 1fr);
	align-items: start;
	min-height: 162px;
	padding: 16px;
	border-radius: 8px;
	background-color: var(--neutralFour);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.reply-comments-container {
	display: flex;
	justify-content: flex-end;
	border-left: 1px solid var(--neutralTwo);
	margin-left: 50px;
}

.reply {
	width: 96%;
}

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.36);
}

.modal {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	column-gap: 16px;
	background-color: var(--neutralFour);
	padding: 24px;
	width: 384px;
	border-radius: 8px;
}

.modal-header {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	align-self: center;
	font-weight: var(--font-bold);
	color: rgb(72, 72, 72);
}

.modal-content {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	margin-bottom: 12px;
	font-weight: var(--font-medium);
	color: var(--neutralOne);
}

.modal-cancel-button {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
	align-self: center;
	justify-self: center;
	padding: 12px 24px;
	color: var(--neutralFour);
	background-color: var(--neutralOne);
}

.modal-confirm-button {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: center;
	justify-self: center;
	padding: 12px 24px;
	color: var(--neutralFour);
	background-color: var(--primaryTwo);
}

#snackbar-info {
	display: flex;
	align-items: center;
	gap: 12px;
	visibility: hidden;
	position: fixed;
	top: 16px;
	min-width: 448px;
	padding: 12px;
	border-radius: 8px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color: #ff9800;
	color: white;
	fill: white;
	font-weight: var(--font-medium);
	z-index: 1;
}

#snackbar-info::before {
	content: url(/images/icon-warning.svg);
	fill: white;
}

#snackbar-info.show {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
	from {
		top: 0px;
		opacity: 0;
	}
	to {
		top: 16px;
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		top: 16px;
		opacity: 1;
	}
	to {
		top: 0px;
		opacity: 0;
	}
}

.info-comment {
	display: flex;
	align-items: center;
	justify-self: start;
	gap: 12px;
}

.vote-comment {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-self: center;
	width: 40px;
	padding: 4px;
	border-radius: 8px;
	text-align: center;
	font-weight: var(--font-bold);
	background-color: var(--neutralThree);
	color: var(--primaryOne);
}

.buttons-comment {
	display: flex;
	align-self: start;
	justify-self: end;
	margin-top: 4px;
	gap: 16px;
}

.sentence-comment,
.edit-textarea-comment {
	display: grid;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: stretch;
	word-break: break-all;
	white-space: normal;
}

.indicator-you {
	display: none;
	border-radius: 4px;
	padding: 2px 10px;
	background-color: var(--primaryOne);
	color: var(--neutralFour);
}

.image {
	width: 48px;
	height: 48px;
}

.textarea {
	height: 90px;
	padding: 8px 0 0 16px;
	border: 1px solid rgb(225, 225, 225);
	outline-style: none;
	resize: none;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	font-size: 16px;
}

.user-name {
	font-weight: var(--font-bold);
}

.created-date {
	color: var(--neutralTwo);
	font-weight: var(--font-bold);
}

.button {
	border: none;
	width: fit-content;
	height: 40px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.button--update {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: end;
	margin-top: 12px;
}

.button--send,
.button--update {
	padding: 12px 24px;
	background-color: var(--primaryOne);
	color: var(--neutralFour);
}

.button--edit {
	grid-column-start: 3;
	grid-column-end: 4;
	color: var(--primaryOne);
}

.button--delete {
	grid-column-start: 4;
	grid-column-end: 5;
	color: var(--primaryTwo);
}

.button--reply {
	grid-column-start: 5;
	grid-column-end: 6;
	color: var(--primaryOne);
}

.button--vote {
	border: none;
	border-radius: inherit;
	background-color: transparent;
	cursor: pointer;
}

.button-display {
	display: none;
}

.button-comment {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.button--vote > svg {
	fill: #c5c6ef;
}

.button--vote > svg:hover {
	fill: var(--primaryOne);
}

.button--edit::before {
	padding-right: 8px;
	content: url(./images/icon-edit.svg);
}

.button--delete::before {
	padding-right: 8px;
	content: url(./images/icon-delete.svg);
}

.button--reply::before {
	padding-right: 8px;
	content: url(./images/icon-reply.svg);
}

.display-modal {
	display: flex;
}

.button:hover {
	opacity: 0.5;
}

.textarea:hover,
.textarea:focus {
	border: 1px var(--primaryOne) solid;
}

.hide-element {
	display: none;
}

@media only screen and (max-width: 1440px) {
	.container {
		width: 100%;
		margin: 0 16px 0 16px;
	}
	.add-new-comment {
		display: grid;
		grid-template-columns: auto;
		row-gap: 8px;
		align-items: center;
	}

	.new-comment {
		grid-template-rows: 1fr auto auto;
		grid-template-columns: 1fr 1fr;
		row-gap: 16px;
	}

	.button--send {
		grid-column-start: 2;
		grid-column-end: 3;
		justify-self: self-end;
	}

	.image {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		width: 36px;
		height: 36px;
	}
	.textarea {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.info-comment {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.sentence-comment {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		justify-self: start;
	}

	.vote-comment {
		display: flex;
		flex-direction: row;
		gap: 16px;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		align-self: center;
		justify-self: start;
		width: fit-content;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.vote-minus {
		padding-bottom: 6px;
	}
}
